### While
- it exicutes block or set of instructions until the condition is false
- while we dont the range
- exicute faster than the for loop
- User incrementation

In [ ]:
# while syntax
initilization
while condition:
    statements
    incr/decrement

In [2]:
n=2
while n<=5:
    print("Vasavi college")
    n=n+1

Vasavi college
Vasavi college
Vasavi college
Vasavi college

In [5]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [7]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1    #1234%10=4 123%10=3 12%10=2 1%10=1
    s=s//10
print("\nDigit count",c)

1234

Digit count 4

In [10]:
# check the given is palindrome or not
# 121--121
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not palindrome")

121
palindrome

In [ ]:
# syntax::Nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        ----------
        statementn

In [ ]:
# matrix format
- rows,columns
- 2dimensions
    1 2 3
    1 2 3

In [13]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print() # new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [15]:
for row in range(1,6):
    for column in range(1,9):
        print("*",end=" ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [1]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [8]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [20]:
# 1-10 prime numbers
# 2,3,5,7
n=int(input())
m=int(input())
for i in range(n,m+1):
    c=0
    for var in range(1,i+1):
        if(i%var==0):
            c+=1
    if(c==2):
        print(i,end=" ")

1
10
2 3 5 7

In [33]:
n=int(input())
m=int(input())
for i in range(n,m+1):
    for j in range(n,m+1):
          print(i,"*",j,i*j)
    print()

1
10
1 * 1 1
1 * 2 2
1 * 3 3
1 * 4 4
1 * 5 5
1 * 6 6
1 * 7 7
1 * 8 8
1 * 9 9
1 * 10 10

2 * 1 2
2 * 2 4
2 * 3 6
2 * 4 8
2 * 5 10
2 * 6 12
2 * 7 14
2 * 8 16
2 * 9 18
2 * 10 20

3 * 1 3
3 * 2 6
3 * 3 9
3 * 4 12
3 * 5 15
3 * 6 18
3 * 7 21
3 * 8 24
3 * 9 27
3 * 10 30

4 * 1 4
4 * 2 8
4 * 3 12
4 * 4 16
4 * 5 20
4 * 6 24
4 * 7 28
4 * 8 32
4 * 9 36
4 * 10 40

5 * 1 5
5 * 2 10
5 * 3 15
5 * 4 20
5 * 5 25
5 * 6 30
5 * 7 35
5 * 8 40
5 * 9 45
5 * 10 50

6 * 1 6
6 * 2 12
6 * 3 18
6 * 4 24
6 * 5 30
6 * 6 36
6 * 7 42
6 * 8 48
6 * 9 54
6 * 10 60

7 * 1 7
7 * 2 14
7 * 3 21
7 * 4 28
7 * 5 35
7 * 6 42
7 * 7 49
7 * 8 56
7 * 9 63
7 * 10 70

8 * 1 8
8 * 2 16
8 * 3 24
8 * 4 32
8 * 5 40
8 * 6 48
8 * 7 56
8 * 8 64
8 * 9 72
8 * 10 80

9 * 1 9
9 * 2 18
9 * 3 27
9 * 4 36
9 * 5 45
9 * 6 54
9 * 7 63
9 * 8 72
9 * 9 81
9 * 10 90

10 * 1 10
10 * 2 20
10 * 3 30
10 * 4 40
10 * 5 50
10 * 6 60
10 * 7 70
10 * 8 80
10 * 9 90
10 * 10 100

In [ ]:
# Nested while
- loop inside another loop

In [ ]:
# Syntax
initilization
while condition:
    statements
    incr/decrement
    while condition:
        statements
        incr/decrement

In [29]:
# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,i*j)
        j+=1
    print()
    i+=1

1 * 1 1
1 * 2 2
1 * 3 3
1 * 4 4
1 * 5 5
1 * 6 6
1 * 7 7
1 * 8 8
1 * 9 9
1 * 10 10

2 * 1 2
2 * 2 4
2 * 3 6
2 * 4 8
2 * 5 10
2 * 6 12
2 * 7 14
2 * 8 16
2 * 9 18
2 * 10 20

3 * 1 3
3 * 2 6
3 * 3 9
3 * 4 12
3 * 5 15
3 * 6 18
3 * 7 21
3 * 8 24
3 * 9 27
3 * 10 30

4 * 1 4
4 * 2 8
4 * 3 12
4 * 4 16
4 * 5 20
4 * 6 24
4 * 7 28
4 * 8 32
4 * 9 36
4 * 10 40

5 * 1 5
5 * 2 10
5 * 3 15
5 * 4 20
5 * 5 25
5 * 6 30
5 * 7 35
5 * 8 40
5 * 9 45
5 * 10 50

6 * 1 6
6 * 2 12
6 * 3 18
6 * 4 24
6 * 5 30
6 * 6 36
6 * 7 42
6 * 8 48
6 * 9 54
6 * 10 60

7 * 1 7
7 * 2 14
7 * 3 21
7 * 4 28
7 * 5 35
7 * 6 42
7 * 7 49
7 * 8 56
7 * 9 63
7 * 10 70

8 * 1 8
8 * 2 16
8 * 3 24
8 * 4 32
8 * 5 40
8 * 6 48
8 * 7 56
8 * 8 64
8 * 9 72
8 * 10 80

9 * 1 9
9 * 2 18
9 * 3 27
9 * 4 36
9 * 5 45
9 * 6 54
9 * 7 63
9 * 8 72
9 * 9 81
9 * 10 90

10 * 1 10
10 * 2 20
10 * 3 30
10 * 4 40
10 * 5 50
10 * 6 60
10 * 7 70
10 * 8 80
10 * 9 90
10 * 10 100

### Jump Statements
- we called as unconditional jumps
- break
- Continue
- Pass

### Break
- Terminates the current loop statements
- Break is a keyword

In [34]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [3]:
i=1
while (i<=10):
    print(i)
    i+=1
    if(i==6):
        break

1
2
3
4
5

### Continue 
- it skips only current itration and continue the next iteration
- continue is also a keyword

In [5]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [2]:
for i in range(1,10):
    if(i%2==0):
        continue
    print(i,end=" ")

1 3 5 7 9

### Pass 
- it is a keyword
- When we need condition scientfically correct need to change another operation
- it is a null opeation 
- pass statement we use to create empty class

In [3]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass exicuted")
    print(i)

p
y
t
pass exicuted
h
o
n

### Strings
 - String is a group of characters
 - String is a derived datatype and immutable
 - All strings return a new values

In [10]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [6]:
print(len(a))

14

In [11]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [9]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [21]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
s='vasavi college'
s="vasavi college"
s1='''i am hareesh'''
s2="""computer science and engineering"""

In [4]:
print(s1)

i am hareesh

In [8]:
print(s2)

computer science and engineering

In [9]:
print(len(s2))

32

In [10]:
p="apssdc workshop"
print(p.capitalize())

Apssdc workshop

In [14]:
n="HEllo world"
print(n)
print(n.upper())
print(n.lower())

HEllo world
HELLO WORLD
hello world

In [12]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [15]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [16]:
s7="India is my country"
s7.istitle()

False

In [18]:
s8=" "
s8.isspace()

True

In [19]:
# isdigit-which is used to indentify the digits in a given string
# isalpha-which is used to return true,alphabets present in a given string
r="r.isdigit()"
r.isalpha()

False

In [20]:
r.isdigit()

False

In [22]:
s="345577"
s.isdigit()

True

In [24]:
s="i am learning python program"
s.split()

['i', 'am', 'learning', 'python', 'program']

In [26]:
s="i@am@learning@python@program"
s.split('@')

['i', 'am', 'learning', 'python', 'program']

In [27]:
s="i am learning python program"
s.split('t')

['i am learning py', 'hon program']

In [31]:
s="hArEEsh"
s2=' '
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

 HaReeSH

In [32]:
#swapcase
s.swapcase()

'HaReeSH'

In [37]:
s="python 3 is the lastest version"
s

'python 3 is the lastest version'

In [38]:
#count:: to know the number of ocurances
s.count('a')

1

In [39]:
s.index('t') # searching starts from the begining

2

In [40]:
s.rindex('t') # searching starts from the ending

22

In [42]:
# find -- it will return index position of that character
s.find('t')

2

In [43]:
s.index('is')

9

In [44]:
# replace -- use to replac the old character
# strip-- used to remove white spaceby default
d="bye vasavi college"
d.replace('bye','hi')

'hi vasavi college'

In [48]:
d="    hello sdc    "
print(d)

    hello sdc

In [49]:
d.strip()

'hello sdc'

In [50]:
d.lstrip()

'hello sdc    '

In [51]:
d.rstrip()

'    hello sdc'

In [52]:
# join 
# center
# startswith
# endswith
s="thursday"
'@'.join(s)

't@h@u@r@s@d@a@y'

In [53]:
s="thursday"
'.'.join(s)

't.h.u.r.s.d.a.y'

In [57]:
s.center(1)

'thursday'

In [58]:
s.zfill(10)

'00thursday'

In [66]:
s2="today is the 3rd day"
len(s2)
s2.zfill(25)

'00000today is the 3rd day'

In [67]:
s2.startswith('to')

True

In [68]:
s2.startswith('day')

False

In [69]:
s2.endswith('to')

False

### Data Structures
- List
    - It one of the data structure in python.
    - List is mutable
    - Represented with[]
    - slicing,indexing are same as the string concepts.
- Tuple
- Dictionaries
DT are two types:
    - Mutable
        - We can change at any time after its declaration.
        - ex:List,Dictionaries
       
    - Immutable
         - We can't change it once it declared.
         - ex:String,Tuple

In [70]:
li=[2,4,7,4,9,1]
print(li)

[2, 4, 7, 4, 9, 1]

In [71]:
len(li)

6

In [72]:
print("length of the list",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

length of the list 6
max one of the list 9
min one of the list 1

In [76]:
a=['apple',5,8,24.6]
b=[4,8,'today',4]

In [77]:
a+b #concatination

['apple', 5, 8, 24.6, 4, 8, 'today', 4]

In [78]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 24.6]

In [79]:
#repetetion
a*3

['apple', 5, 8, 24.6, 'apple', 5, 8, 24.6, 'apple', 5, 8, 24.6]

In [80]:
(a+b)*2

['apple', 5, 8, 24.6, 4, 8, 'today', 4, 'apple', 5, 8, 24.6, 4, 8, 'today', 4]

In [81]:
'apple'in a

True

In [82]:
'today' not in a

True

In [83]:
'apple' not in a

False

In [87]:
names=['subbaraju','sharon','santhosh','baskar']
names[0]
names[3]

'baskar'

In [89]:
names[3]
names[:2]

['subbaraju', 'sharon']

In [91]:
s='ramesh'
s[0]
s[:3]    # ram
s[0:3]   # ram
s[2:6]   # mesh
s[2:]    # mesh

'mesh'

In [92]:
li1['vasavi','college','student','hostel']

NameError: name 'li1' is not defined